<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="plugin/sweetalert2.min.css" rel="stylesheet"/>
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>

<body>
    <nav
        class="bg-white px-2 sm:px-4 py-2.5 dark:bg-gray-900 w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600 sticky top-0">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
            <a href="/" class="flex items-center">
                <img src="https://flowbite.com/docs/images/logo.svg" class="h-6 mr-3 sm:h-9" alt="Flowbite Logo">
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"></span>
            </a>
        </div>
    </nav>

    <main class="flex">
        @!navbar.aside()
        <div class="flex-1 px-3 py-2">
            @!section('body')
        </div>
    </main>
    <footer class="footer">
    </footer>
    @!section('scripts')
</body>

</html>