<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="plugin/sweetalert2.min.css" rel="stylesheet"/>
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>

<body>
    @!section('body')
    @!section('scripts')
</body>

</html>